window.UOMinjectHeader = ->
  # Create header and move local breadcrumb
  block = document.createElement('div')
  block.addClass('page-header')

  if Array.prototype.slice.call(document.querySelectorAll('div[role="main"].skip-header')).length != 0
    # Landing page header
    html = """
    <a class="page-header-logo floating" href="http://www.unimelb.edu.au/">
    <!--[if lt IE 9]>
      <img alt="UoM Logo" src="<%= asset_path('header/logo.png') %>" /><![endif]-->
    <!--[if gte IE 9]><!--><img alt="UoM Logo" src="<%= asset_path('header/logo.svg') %>"><!--<![endif]-->
    </a>
    <div class="page-header-tools floating">
      <a class="page-header-icon menu" href="#sitemap" title="Menu">
      <!--[if lt IE 9]>
        <img alt="" src="<%= asset_path('header/menu-w.png') %>" />
      <![endif]-->
      <!--[if gte IE 9]><!-->
        <img alt="" src="<%= asset_path('header/menu-w.svg') %>">
      <!--<![endif]-->Menu
      </a>
    </div>
    """

  else
    # General header
    html = """
    <header>
      <a class="page-header-logo" href="http://www.unimelb.edu.au/">
      <!--[if lt IE 9]>
        <img alt="UoM Logo" src="<%= asset_path('header/logo.png') %>" /><![endif]-->
      <!--[if gte IE 9]><!--><img alt="UoM Logo" src="<%= asset_path('header/logo.svg') %>"><!--<![endif]-->
      </a>
      <div class="page-header-navigation">
        <a href="https://unimelb.edu.au/" title="The University of Melbourne">The University of Melbourne</a>
      </div>
      <div class="page-header-tools">
        <a class="page-header-icon menu" href="#sitemap" title="Menu">
        <!--[if lt IE 9]>
          <img alt="" src="<%= asset_path('header/menu.png') %>" />
        <![endif]-->
        <!--[if gte IE 9]><!-->
          <img alt="" src="<%= asset_path('header/menu.svg') %>">
        <!--<![endif]-->Menu
        </a>
      </div>
    </header>
    """

  block.innerHTML = html
  parent = document.querySelector('.page-inner')
  parent.insertBefore(block, parent.firstChild)

  if Array.prototype.slice.call(document.querySelectorAll('.page-local-history')).length==1
    local = document.querySelector('.page-local-history')
    local.parentNode.removeChild(local)

    parent = document.querySelector('.page-header-navigation')
    sep = document.createElement "span"
    sep.innerHTML = "/"
    parent.appendChild(sep)
    parent.appendChild(local)
